@import 'variables';
@import 'mixins';

.mainMenu {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	padding: 0px;
	width:100%;
	height: 100%;
	text-align: center;
	background: url('../../assets/img/mainMenu.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
	.start {
		position: fixed;
		top: calc(50% + 50px) ;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		margin: 0 auto;	
	}
	.fb-login {
		margin-top: 1em;
		@include buttonColor($fbBlue);
	}

}
