//# Variables

/*
* Fonts
*/
$baseFont: 'Open Sans', sans-serif;
$headerFont:'Cinzel', serif;


/*
* Transitions
*/
$transitionNormal: 0.2s;


/*
* Colors
*/
$transGrey:  rgba(17, 17, 17, 0.9);
$red: #A9071E;
$redShade: $red - #333;
$blue: #AAD1D8;
$blueShade: $blue - #333;
$green: #A0D36E;
$greenShade: #42770D;
$yellow: #FACB47;
$white: #fff;
$lightGray: #999;
$darkGray: #111;
$fbBlue: #3b5999;
$black: #000;
$white: #fff;

